@font-face {
  font-family: "claredon-regular";
  src: url("../src/assets/ClarendonRegular.otf");
  src: url("../src/assets/ClarendonRegular.otf") format("woff"),
  url("../src/assets/ClarendonRegular.otf") format("opentype"),
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "claredon-regular";
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

img{
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}


.container{
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
}
